@import '~compass-mixins/lib/compass/css3'

@mixin transition($transition...)
    -moz-transition:    $transition
    -o-transition:      $transition
    -webkit-transition: $transition
    transition:         $transition

.modal-content
    max-width: 100%
    max-height: 100%
    width: 100%
    height: 100%
    overflow-x: hidden
    overflow-y: hidden
    .container
        width: 100%
        max-width: 100%
        margin: 0
        height: 100%

.main-container
    height: 100%
    display: flex

.main-photo-area
    height: 100%
    width: 75%
    position: relative
    background: white

.photo-info-area
    width: 25%
    position: relative
    background: white
    border-left: 1px solid lightgray
    padding: 10px
#container
    position: absolute
    bottom: 0
    color: white
    width: 100%
    height: 20%
    text-shadow: 0 0 2px #000
.items
    margin: 1rem
    width: 200px
    height: auto

app-carousele-component
    display: flex
    flex-direction: row
    justify-content: center


.overlay
    position: absolute
    top: 0
    color: white
    width: 100%
    background-image: linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0.5))
    height: 50px
    text-shadow: 0 0 2px #000
    i
        font-size: 28px
        color: white
        text-align: center
        width: 28px

#container 
    width: 100%
    margin: 5em auto
    padding: 0
    background:#fff

.items 
    max-width:300px
    height:300px
    background:#ECECEC

#left, #right
    margin: 30px

.overlay-items
    position: absolute
    right: 0
    top: 0
    width: 25%
    height: 100%
    display: flex
    justify-content: space-between

.back-icon
    height: 50px
    width: 50px
    border-radius: 50%
    cursor: pointer
    position: absolute
    left: 0
    top: 0
    height: 100%
    margin-left: 10px
    display: flex
    align-items: center
    justify-content: center
    span
        height: 100%
    &:hover
        background: #00000017
    .icon i
        font-size: 40px

.overlay-item
    height: 50px
    width: 50px
    border-radius: 50%
    display: flex !important
    align-items: center
    justify-content: center
    cursor: pointer
    & div
        height: 28px
    &:hover
        background: #00000017

.unregistered
    position: absolute
    right: 0
    top: 0
    width: 25%
    height: 100%
    display: flex
    justify-content: flex-end


.main-photo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: auto
    height: 100%

.navigation-button
    position: absolute
    height: calc(100% - 170px)
    width: 100px
    top: 50px
    bottom: 120px
    background-color: transparent
    color: white
    font-size: 80px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    .icon
        opacity: 0.5
        background-color: grey
        border-radius: 50%
        width: 50px
        height: 50px
        font-size: 28px
    &:hover
        .icon
            opacity: 1

.nav-btn-right
    right: 0

.nav-btn-left
    left: 0

.modal-close
    right: 120px

.reactions
    display: flex
    flex-direction: column
    align-items: flex-start
    position: absolute
    top: 10px
    left: 10px
    cursor: default
    a
        display: flex
    i
        height: 28px
        width:  28px
        cursor: pointer
        text-shadow: 0 0 2px #000
        font-size: 28px
    span
        margin: 5px 0 0 10px
        cursor: default

.count
    font-size: 12pt
    font-weight: 600
    text-align: center

.info-title
    overflow: hidden
    width: 100%
    display: flex
    height: auto
    justify-content: space-between
    & span
        font-size: 20px

.info-close-icon
    cursor: pointer
    height: 30px
    width: 30px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    i
        font-size: 20px
    &:hover
        background: lightgray

.item-location
    margin-top: 15px
    a
        cursor: default

.adress
    overflow: hidden
    display: flex
    flex-direction: row
    align-items: center
    h4
    width: 85%
    color: gray
    cursor: default

.location-icon
    height: 50px
    width: 50px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    i
        font-size: 30px
    &:hover
        background: lightgray

.photo
    display: flex
    align-items: center
    flex-direction: column
    width: 100%
    height: 100%
    justify-content: center
    img
        width: auto
        max-width: 100%
        max-height: 100%

.menu-items
    margin: 0
    height: 100%
agm-map
    height: 200px
article
    margin: 5px
    padding: 5px

.information
    width: auto
    @include transition(all 300ms linear)

.flex-content
    display: flex

.info
    flex-direction: column

.subtitl
    max-height: 25px
    overflow: hidden

.submarg
    margin-bottom: 5px

.item-description
    margin-top: 25px
    & textarea
        cursor: text

.item-albums
    margin-top: 15px

.item-date
    margin-top: 15px

.item-find-location
    margin-top: 15px

.item-find-location:hover
    margin-top: 15px

.photo-profile
    width: 100%

.flex-album
    max-height: 118px
    display: flex
    flex-direction: column
    overflow: auto

.album
    display: flex
    align-content: center
    margin-top: 3px
    height: 60px
    width: 200px

.album img
    height: 55px
    width: 80px

.album h4
    overflow: hidden
    margin-left: 5px
    height: 55px
    display: inline-block

.overlay-date
    opacity: 0
    visibility: hidden
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .5)
    z-index: 30
    transition: .3s all

.overlay-location
    opacity: 0
    visibility: hidden
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .5)
    z-index: 30
    transition: .3s all

.size
    min-width: 100%

.datetimepicker
    width: 100%

.modal-date
    opacity: 0
    visibility: hidden
    width: 352px
    margin: -178px 0 0 -178px
    position: fixed
    background: black
    top: 50%
    left: 50%
    z-index: 40
    text-align: center
    border-radius: 3px
    background-color: #fff
    transition: 0.3s all

.close
    float: right
    margin-right: 4px
    margin-top: 4px

.modal-location
    opacity: 0
    visibility: hidden
    width: 700px
    margin: -350px 0 0 -350px
    position: fixed
    background: black
    top: 50%
    left: 50%
    z-index: 40
    text-align: center
    border-radius: 3px
    background-color: #fff
    transition: 0.3s all

.active
    opacity: 1
    visibility: visible

.share-container
    position: absolute
    top: -100%
    left: -100%
