<div class="modal" [class.is-active]="isShown">
  <div class="modal-content">
    <div class="container">
      <!--content-->
      <ng-template [ngIf]="isEditing">
        <app-edit-photo
          [photoToEdit]="photo"
          [imageToEditBlobId]="photo.blobId"
          [thumbnailUpdatedBase64]="thumbnailBase64"
          [imageToEdit]="imageUrl"
          (saveClickedEvent)="saveEditedImageHandler($event)"
          (resetClickedEvent)="resetImageHandler()"
          (cancelClickedEvent)="goBackToImageView()"
        >
        </app-edit-photo>
      </ng-template>

      <ng-template [ngIf]="isDeleting">
        <app-delete-modal
          (cancelClickedEvent)="goBackToImageView()"
          [photos]="photos"
          (deleteEvent)="deleteImages($event)"
        >
        </app-delete-modal>
      </ng-template>
      <!--image view-->
      <ng-template [ngIf]="!isDeleting && !isEditing">
        <div class="main-container">
          <div
            class="main-photo-area"
            (mouseenter)="showCarousele = true"
            (mouseleave)="showCarousele = false"
          >
            <!--photo-->
            <div class="main-photo">
              <!--image-->
              <spinner *ngIf="isShowSpinner"></spinner>
              <div class="photo" *ngIf="!isShowSpinner">
                <img src="{{ imageUrl }}" alt="Image" />
                <app-carousele-component
                  [photoId]="photo.id"
                  [isEnabled]="showCarousele"
                >
                </app-carousele-component>
              </div>
            </div>
            <div class="overlay">
              <div class="back-icon" (click)="closeModal()">
                <span class="icon">
                  <i class="fa fa-angle-left" left aria-hidden="true"></i>
                </span>
              </div>
              <div class="overlay-items">
                <div
                  class="overlay-item"
                  (click)="menuClickHandler(item)"
                  *ngFor="let item of shownMenuItems"
                >
                  <div [ngSwitch]="item.title">
                    <ng-template ngSwitchCase="Remove">
                      <div [title]="item.title" [appIsBlocked]="isBlockById()">
                        <i class="material-icons is-block">{{ item.icon }}</i>
                      </div>
                    </ng-template>
                    <ng-template ngSwitchCase="Edit">
                      <div [title]="item.title" [appIsBlocked]="isBlockById()">
                        <i class="fa fa-sliders"></i>
                      </div>
                    </ng-template>
                    <ng-template ngSwitchCase="Share">
                      <div [title]="item.title" [appIsBlocked]="isBlockById()">
                        <i class="material-icons is-block">{{ item.icon }}</i>
                      </div>
                    </ng-template>
                    <ng-template ngSwitchCase="Save">
                      <div [title]="item.title" [appIsBlocked]="!isBlockById()">
                        <i class="fa fa-floppy-o"></i>
                      </div>
                    </ng-template>
                    <ng-template ngSwitchCase="Info">
                      <div [title]="item.title" [appIsBlocked]="isBlockById()">
                        <i class="fa fa-info-circle"></i>
                      </div>
                    </ng-template>
                    <ng-template ngSwitchCase="Download">
                      <div [title]="item.title">
                        <a
                          download
                          attr.data-href="{{ imageUrl }}"
                          (click)="forceDownload()"
                        >
                          <i class="fa fa-download"></i>
                        </a>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="navigation-button nav-btn-left"
              *ngIf="currentIndex != 0"
              (click)="previousPhoto()"
            >
              <span class="icon is-large">
                <i class="fa fa-angle-left" left aria-hidden="true"></i>
              </span>
            </div>
            <div
              class="navigation-button nav-btn-right"
              *ngIf="currentIndex != photosArrayLength - 1"
              (click)="nextPhoto()"
            >
              <span class="icon is-large">
                <i class="fa fa-angle-right" left aria-hidden="true"></i>
              </span>
            </div>
          </div>

          <!--right panel-->
          <div class="photo-info-area">
            <div class="reactions" *ngIf="!isInfoShown">
              <a>
                <i
                  [ngStyle]="{ color: hasUserReaction ? '#d75a4a' : 'white' }"
                  class="fa fa-heart"
                  (click)="ReactionPhoto()"
                ></i>
                <span class="count"
                  >{{ photo?.reactions?.length || 0 }} loved it</span
                >
              </a>
            </div>
            <app-comments-list
              [photoId]="photo.id"
              [photoAuthorId]="photo.userId"
              *ngIf="!isInfoShown"
            >
            </app-comments-list>
            <div *ngIf="isInfoShown" id="info-content" class="information">
              <div class="flex-content info">
                <div class="info-title">
                  <span>Information </span>
                  <div class="info-close-icon">
                    <i class="material-icons" (click)="CloseInfo()">clear</i>
                  </div>
                </div>
                <div class="item-description">
                  <h4 class="subtitle is-5 submarg">Description</h4>
                  <div class="field">
                    <div class="control">
                      <textarea
                        class="textarea is-primary"
                        (blur)="ChangeDescription($event.target.value)"
                        [(ngModel)]="photo.description"
                        placeholder="Description"
                        rows="2"
                        [disabled]="isBlockById()"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="item-albums" *ngIf="albums.length !== 0">
                  <div class="subtitl">
                    <h4 class="subtitle is-5 submarg">Albums</h4>
                  </div>
                  <div class="flex-album">
                    <div *ngFor="let album of albums" class="album">
                      <img src="{{ album.photo?.imageUrl }}" alt="" />
                      <h4 class="subtitle is-5">{{ album.title }}</h4>
                    </div>
                  </div>
                </div>
                <div class="item-date">
                  <h4 class="subtitle is-5 submarg">Date Upload</h4>
                  <div>
                    <app-date-picker
                      [date]="photo.uploadDate"
                      (UpdateTime)="UpdateDate($event)"
                      >Loading
                    </app-date-picker>
                  </div>
                </div>
                <div class="item-location">
                  <h4 class="subtitle is-5 submarg">Location</h4>
                  <a>
                    <div class="adress">
                      <h4>{{ address || 'Location is not presented' }}</h4>
                      <div
                        class="location-icon"
                        (click)="openModalForPicklocation($event)"
                      >
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                      </div>
                    </div>
                  </a>
                  <div class="modal-location">
                    <a
                      class="delete is-medium close"
                      (click)="CloseModalForPicklocation($event)"
                    ></a>
                    <app-google-map
                      [photo]="photo"
                      (Deletelocation)="DeleteLocation($event)"
                      (Updatelocation)="UpdateLocation($event)"
                    ></app-google-map>
                  </div>
                  <div
                    class="overlay-location"
                    (click)="CloseModalForPicklocation($event)"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <app-share-by-email-modal
    [receivedPhoto]="photo"
    *ngIf="showSharedModal"
    (Close)="showSharedModal = false"
  >
  </app-share-by-email-modal>
  <app-edit-modal
    [photo]="photo"
    *ngIf="showEditModal"
    (Close)="showSharedModal = false"
    (Done)="imageHandler($event)"
  >
  </app-edit-modal>
</div>
<notifier-container></notifier-container>
