<div class="modal is-active">
  <div class="modal-background" (click)="cancel()"></div>
    <div class="modal-card">
      <div class="modal-card-body">
        <div class="columns">
          <div class="column is-half has-text-centered">
            <a class="button is-primary" (click)="openShareByLink()">
              By link
            </a>
          </div>
          <div class="column is-half has-text-centered">
            <a class="button is-primary" (click)="openShareByEmail()">
              By email
            </a>
        </div>
      </div>
    </div>
  </div>
  <app-share-album-by-link [receivedAlbum]='receivedAlbum' *ngIf="showSharedByLinkModal" (onClose)="showSharedByLinkModal=false"></app-share-album-by-link>
  <app-share-album-by-email  [receivedAlbum]='receivedAlbum' *ngIf="showSharedByEmailModal" (onClose)="showSharedByEmailModal=false"></app-share-album-by-email>
</div>
  
  