<div class="modal" [class.is-active]="isShown">
    <!--background-->
    <div class="modal-background" (click)="toggleModal()"></div>

    <!--modal card-->
    <div class="modal-card size-card">

        <!--header-->
        <header class="modal-card-head">
            <p class="modal-card-title">Create album</p>
            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>

        <!--content-->
        <section class="modal-card-body">
            <div class="columns-flex">
                <div class="flex-container">
                    <div class="head flex-item">
                        <h4 class="title is-4">Enter Album name </h4>
                    </div>

                    <div class="field flex-item w100">
                        <input [className]="checkForm ? 'input is-primary' : 'input is-danger'" [(ngModel)]="albumName" name='name' #name="ngModel" type="text" placeholder="Album Name" required>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                            <div *ngIf="name.errors.required">
                                Enter Album name
                            </div>
                        </div>
                    </div>

                    <div class="storage">
                        <h4 class="title is-4">Upload photo from storage</h4>
                        <a class="button is-primary is-fullwidth" (click)="ChoosePhoto()">upload</a>
                    </div>

                    <div class="upload-file">
                        <h4 class="title is-4">Upload photo from device</h4>
                        <label class="uploader" ondragover="return false;" [class.loaded]="loaded" fileDrop [style.outlineColor]="dragging ? activeColor : baseColor" (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">
                        <input type="file" name="file" accept="image/*" (change)="handleInputChange($event)" multiple>
                    </label>
                    </div>
                </div>
                <div class="photos" [style.display]="this.photos.length==0 ? 'none' : 'block'">
                    <div class="photo" *ngFor="let photo of photos; let i = index">
                        <div class="uploaded-image" [ngStyle]="{'opacity': isDuplicate(photo)? '0.3': '1'}">
                            <img src="{{ photo.imageUrl }}" class="image"/>
                            <div class="overlay" (mouseenter)="mouseEnterOverlayHandler()" (mouseleave)="mouseLeftOverlayHandler()">
                              <div *ngIf="showRemoveButton" (click)="removePhoto(i)" class="remove-button">
                                <i class="material-icons is-block">clear</i>
                              </div>
                            </div>
                          </div>
                        <div class="desc">
                            <textarea class="textarea has-fixed-size" placeholder="Description" id="{{ i }}" [(ngModel)]="photo.description" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--footer-->
        <footer class="modal-card-foot buttons is-right">
            <a  *ngIf="!duplicatesFound || photos.length === 0" [className]="loaded ? 'button is-primary' : 'button is-primary is-loading'" (click)="CreateAlbum()">Save Changes</a>
            <a  *ngIf="duplicatesFound" [className]="loaded ? 'button is-primary' : 'button is-primary is-loading'" (click)="createWithDuplicates()">Proceed with duplicates</a>
            <a class="button" (click)="toggleModal()">Cancel</a>
        </footer>
    </div>


    <template #ChoosePhotos></template>
</div>
<notifier-container></notifier-container>
