<div class="modal" [class.is-active]="isShown">
  <div class="modal-content">
    <div class="container">
      <ng-template #memeMode>
        <div class="memeArea">
          <img src="{{ imageToEditBase64 }}" alt="image" />
          <div *ngIf="!memeSaved">
            <textarea [(ngModel)]="upText" rows="2" class="upTextArea" [appMemeColor]="colorPicker"
              maxlength="55"></textarea>
            <textarea [(ngModel)]="downText" rows="2" class="downTextArea" [appMemeColor]="colorPicker"
              maxlength="55"></textarea>
          </div>
        </div>
      </ng-template>

      <ng-template #filtersMode>
        <div id="image-wrapper">
          <img id="imageToFilter" [src]="imageUpdatedBase64" />
        </div>
      </ng-template>

      <ng-template #defaultMode>
        <image-cropper #editor [imageBase64]="imageToEditBase64" [cropperMinWidth]="cropperMinWidth"
          [cropperMinHeight]="cropperMinHeight" [maintainAspectRatio]="false" format="jpeg"
          (imageCropped)="imageCroppedHandler($event)">
        </image-cropper>
      </ng-template>

      <div class="main-container">
        <div class="main-photo-area">
          <!--photo-->
          <div class="main-photo">
            <!--image-->
            <div class="photo" *ngIf="isFiltersMode; then filtersMode"></div>
            <div class="photo" *ngIf="isMemeMode; then memeMode"></div>
            <div class="photo" *ngIf="!isFiltersMode && !isMemeMode; then defaultMode"></div>
          </div>
          <div class="overlay">
            <div class="back-icon" (click)="cancelClickHandler()">
              <span class="icon">
                <i class="fa fa-angle-left" left aria-hidden="true"></i>
              </span>
            </div>
            <div class="overlay-items">
              <div class="overlay-item" (click)="resetClickHandler()">
                <div title="Reset to original">
                  <i class="fa fa-undo"></i>
                </div>
              </div>
              <div class="overlay-item" (click)="saveClickHandler()">
                <div title="Save">
                  <i class="fa fa-save"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="photo-info-area">
          <div>
            <div class="tabs is-centered is-boxed is-medium">
              <ul>
                <li class="tab is-active" (click)="displayRotateAndCrop()" [class.is-active]="showRotateAndCrop">
                  <a>
                    <img src="assets/crop-rotate-icon.svg" alt="Crop and rotate" />
                  </a>
                </li>
                <li class="tab" (click)="displayMeme()" [class.is-active]="showMeme">
                  <a>
                    <img src="assets/meme-icon.svg" alt="Meme" />
                  </a>
                </li>
                <li class="tab" (click)="displayFilters()" [class.is-active]="isFiltersMode">
                  <a>
                    <img src="assets/photo-settings.svg" alt="Filters" />
                  </a>
                </li>
              </ul>
            </div>

            <div *ngIf="showRotateAndCrop" class="action-icons">
              <div class="rotate">
                <div class="icon" (click)="rotateLeftHandler()">
                  <i class="material-icons is-block">rotate_left</i>
                </div>
                <div class="icon" (click)="rotateRightHandler()">
                  <i class="material-icons is-block">rotate_right</i>
                </div>
              </div>
              <div class="flip">
                <div class="icon" (click)="flipHorizontalHandler()">
                  <i class="material-icons is-block">border_vertical</i>
                </div>
                <div class="icon" (click)="flipVerticalHandler()">
                  <i class="material-icons is-block">border_horizontal</i>
                </div>
              </div>
              <div class="size-info">
                <span>Width: {{ croppedImageHeight }} px</span>
                <span>Height: {{ croppedImageWidth }} px</span>
              </div>
            </div>
            <div class="drop-content" *ngIf="showMeme">
              <div class="columns">
                <div class="column has-text-centered">
                  <input class="input-color" type="color" [(ngModel)]="colorPicker" />
                  <h5 class="subtitle is-5">Choose text color</h5>
                </div>
              </div>
            </div>
            <div class="sliders" *ngIf="isFiltersMode">
              <h5>Brightness</h5>
              <ng5-slider [value]="brightness" [options]="brightnessOptions" (userChangeEnd)="setBrightness($event)">
              </ng5-slider>
              <h5>Contrast</h5>
              <ng5-slider [value]="contrast" [options]="brightnessOptions" (userChangeEnd)="setContrast($event)">
              </ng5-slider>
              <h5>Filters:</h5>
              <div class="filters">
                <div class="filter" *ngFor="let item of filters; let i = index" (click)="setFilter(item)">
                  <img id="{{ i }}" [src]="thumbnailUpdatedBase64" />
                </div>
                <img src="../../../../assets/arrow-right.png" style="opacity: 0" (load)="setFilterForThumbnail()" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
