<h2>Recent albums: </h2>
<div class="items-container-centered">

    <a class="album">
        <div class="new-album" (click)="CreateAlbum($event)">
            <a><img src="assets//icons//plus.svg" alt=""></a>
        </div>
        <div class="description has-text-centered">
            <p>New album</p>
        </div>
    </a>
    <div *ngFor="let item of albums">
        <main-album [_album]="item" (onClick)="albumClicked($event)"></main-album>
    </div>


    <template #CreateAlbumnContainer></template>

</div>