LamaAPI/.vs/
LamaAPI/Lama.BusinessLogic/obj/
LamaAPI/Lama.BusinessLogic/bin/
LamaAPI/Lama.DataAccess/obj/
LamaAPI/Lama.DataAccess/bin/
LamaAPI/Lama.Domain/obj/
LamaAPI/Lama.Domain/bin/
LamaAPI/Lama/obj/
LamaAPI/Lama/bin/
PhotoAPI/.vs/
PhotoAPI/Photo.BusinessLogic/obj/
PhotoAPI/Photo.BusinessLogic/bin/
PhotoAPI/Photo.DataAccess/obj/
PhotoAPI/Photo.DataAccess/bin/
PhotoAPI/Photo.Domain/obj/
PhotoAPI/Photo.Domain/bin/
PhotoAPI/Photo/obj/
PhotoAPI/Photo/bin/
