h2
    font-weight: 500
    font-size: 2rem
    margin-left: .5rem
.items-container-centered h2
    text-align: center

.content-header
    display: flex
    flex-direction: row
    justify-content: space-between

.button
    margin-right: 1rem
    