.photos-container
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap

@media screen and (max-width: 768px)
    .photos-container
        justify-content: center