<div class="content-header">
  <h2 id="photos-container-title" *ngIf="isHaveAnyPhotos">Recent images:</h2>
  <a (click)="GetPhotos()" class="button is-primary" *ngIf="isSearchTriggered">
    Show all photos?
  </a>
  <div *ngIf="isAtLeastOnePhotoSelected" class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <button
        class="button"
        aria-haspopup="true"
        aria-controls="dropdown-menu4"
      >
        <span>Options</span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
      <div class="dropdown-content">
        <div class="dropdown-item" (click)="deleteImages()">
          <p>Delete</p>
        </div>
        <div class="dropdown-item" (click)="downloadImages()">
          <p>Download</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="items-container-centered"
  fileDrop
  (fileDropped)="uploadFile($event)"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollDistance]="500"
  (scrolled)="onScroll()"
>
  <h2 *ngIf="isNothingFounded">Nothing found!</h2>
  <h2 *ngIf="!isHaveAnyPhotos">You don`t have any pictures yet!</h2>
  <!-- <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">  -->
  <!--photo list-->
  <div *ngFor="let item of photos.reverse()">
    <main-photo
      [_photo]="item"
      (Click)="photoClicked($event)"
      (Select)="photoSelected($event)"
      [_id]="favorites.has(item.id) == true ? item.id : -1"
    >
    </main-photo>
  </div>
	<spinner *ngIf="showSpinner"></spinner>
	
  <!--modal-->
  <template #modalPhotoContainer></template>
  <template #modalUploadPhoto></template>
</div>
<notifier-container></notifier-container>
