<nav class="navbar notification is-fixed-top">
  <div class="navbar-start is-3">
    <div class="image is-64x64">
      <img src="../../../../assets/lama.jpg" />
    </div>
  </div>
  <div *ngIf="isAuthenticated" class="navbar-end">
    <div class="navbar-item">
      <a class="text">
        <strong>{{ userName }}</strong>
      </a>
    </div>
    <div class="image is-64x64">
      <img class="is-rounded" *ngIf="userPhoto" [src]="userPhoto" />
    </div>
    <div class="navbar-item">
      <a class="button is-primary" (click)="logOut()">
        <strong>Logout</strong>
      </a>
    </div>
  </div>
</nav>
<notifier-container></notifier-container>
