mat-toolbar
    background-color: #fafcfb
    border-bottom: 1px solid #e6e6e6
    height: 5.5rem

mat-toolbar, landing-login, button
    font-family: 'Roboto', sans-serif

.header-content 
    display: flex
    flex-direction: row
    justify-content: flex-start
    position: relative
    height: 100%

.header-content img
    margin: 2px
    width: 10rem

.header-content h3
    margin-top: auto
    margin-bottom: auto
    font-size: 3.5rem


