<div class="container">
    <div class="content-container">
        <img src="assets/lama.jpg" />
        <div class="title">
            Lama
        </div>
        <div class="description">
            <div #foo class="selector">
                <h1 class="ah-headline">
                    <span>Look At My Awesome </span>
                    <span class="ah-words-wrapper">
                    <b class="is-visible">House</b>
                    <b>Face</b>
                    <b>Pet</b>
                </span>
                </h1>
            </div>
        </div>
        <button mat-flat-button (click)="openAuthWindow()">Go to photos</button>
        <app-auth-modal *ngIf="showAuthModal" (Close)="showAuthModal = false"></app-auth-modal>
    </div>
    <img src="assets/many-photos.jpg" />
</div>
<notifier-container></notifier-container>