<div class="navigation">
    <div class="dropdown is-hoverable">

        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Options</span>
          <span class="icon is-small">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
                <div class="dropdown-item" (click)="downloadImages()" *ngIf="album?.photoAlbums?.length">
                    <p>Download</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="title">
        <h2 class="title is-2">{{ album.title }}</h2>
    </div>
    <div *ngIf="loading" class="items-container-centered">
        <div *ngFor="let item of album.photoAlbums">
            <main-photo [_photo]="item" [_id]="favorites.has(item.id) == true ? item.id : -1" (Click)="photoClicked($event)" (Select)="photoSelected($event)"></main-photo>
        </div>
    </div>
    <template #modalPhotoContainer></template>
</div>
<notifier-container></notifier-container>