.left-actions-sidebar
    margin-bottom: .5rem
    bottom: 0
    left: 0
    position: absolute
    top: 64px
    display: flex
    flex-direction: column
    width: 4rem

@media screen and (max-width: 768px)
  .left-actions-sidebar
    position: fixed
