<div class="main-photo">
        <img src="{{imageToRotateBase64}}" alt="Image">
    </div>
    
    <div class="menu">    
        <div class=" columns has-text-centered" >
            <div class="column" (click)="CounterClockwiseHandler()">                                            
                <i class="material-icons is-block">rotate_left</i>
                <span> CounterClockwise </span>    
            </div>
    
            <div class="column" (click)="ClockwiseHandler()">                                            
                <i class="material-icons is-block">rotate_right</i>
                <span> Clockwise </span>    
            </div>
    
        </div>
    </div>
    
    <div class="menu">    
        <div class=" columns has-text-centered" >
            <div class="column" (click)="saveClickHandler()">                                            
                <i class="material-icons is-block">done</i>
                <span> save </span>    
            </div>
    
            <div class="column" (click)="cancelClickHandler()">                                            
                <i class="material-icons is-block">cancel</i>
                <span> cancel </span>    
            </div>
    
        </div>
    </div>