<a class="link_album">
  <div class="album">
    <div
      [style.display]="isMenu ? 'block' : 'none'"
      class="menu"
      (click)="clickMenu()"
    >
      <img src="assets/three-dots-menu.svg" alt="" />
    </div>
    <div
      [style.visibility]="isContent ? 'visible' : 'hidden'"
      class="dropdown-content"
      (mouseleave)="leave($event)"
    >
      <a *ngIf="!isShared" class="dropdown-item" (click)="openShareModal()"
        >Share</a
      >
      <a *ngIf="!isFake" class="dropdown-item" (click)="toggleSetCoverModal()"
        >Set cover</a
      >
      <a class="dropdown-item" (click)="DownloadAlbum($event)">Download</a>
      <a
        *ngIf="!isFake && !isFavorite"
        class="dropdown-item"
        (click)="addPhotos($event)"
        >Add Photos</a
      >
      <!--<a class="dropdown-item" (click)="removeDuplicates()">Remove Duplicates</a> -->
      <a
        *ngIf="isOwners && !isShared"
        class="dropdown-item"
        (click)="removeAlbum()"
        >Remove</a
      >
      <a
        *ngIf="isOwners && isShared && !isFake"
        class="dropdown-item"
        (click)="removeSharedAlbum()"
        >Remove</a
      >
      <a
        *ngIf="isOwners && isShared && isFake"
        class="dropdown-item"
        (click)="removeFakeSharedAlbum()"
        >Remove</a
      >
      <a
        *ngIf="!isOwners && !isFake"
        class="dropdown-item"
        (click)="removeSharedAlbumForUser()"
        >Exit</a
      >
      <a
        *ngIf="!isOwners && isFake"
        class="dropdown-item"
        (click)="removeFakeSharedAlbum()"
        >Exit</a
      >
    </div>
    <img
      src="{{ imageUrl || imgname }}"
      (click)="clickPerformed()"
      *ngIf="!isShared || (isShared && album.photoAlbums.length <= 1)"
    />
    <div
      class="many-photos"
      *ngIf="isShared && album.photoAlbums.length > 1"
      (click)="clickPerformed()"
    >
      <img src="{{ sharedAlbumCover[0] || imgname }}" />
      <img src="{{ sharedAlbumCover[1] || imgname }}" />
      <img src="{{ sharedAlbumCover[2] || imgname }}" />
    </div>
  </div>
  <div class="description has-text-centered">
    <p>{{ album.title }}</p>
  </div>
  <app-share-album-by-email
    [receivedAlbum]="album"
    *ngIf="showSharedModal"
    (Close)="showSharedModal = false"
  ></app-share-album-by-email>

  <app-set-album-cover-modal
    [receivedAlbum]="album"
    [_isFavorite]="isFavorite"
    (Change)="receiveUpdatedCover($event)"
    *ngIf="showSetCoverModal"
    (Close)="showSetCoverModal = false"
  ></app-set-album-cover-modal>
</a>
<template #AddPhotosToAlbum></template>
<notifier-container></notifier-container>
