<a class="link_album">
    <div class="album">

        <div [style.display]="isMenu ? 'block' : 'none'" class="menu" (click)="clickMenu($event)">
            <img src="assets//icons//three-dots-menu.svg" alt="">
        </div>
        <div [style.visibility]="isContent ? 'visible' : 'hidden'" class="dropdown-content" (mouseleave)="leave($event)">
            <a href="#" class="dropdown-item">Remove Album</a>
            <a class="dropdown-item" (click)="openShareModal()">Share Album</a>
            <a href="#" class="dropdown-item">Download Album</a>
        </div>
        <img src="{{ album.photo.blob256Id || album.photo.blobId }}" (click)="clickPerformed()">
    </div>
    <div class="description has-text-centered">
        <p>{{album.name}}</p>
    </div>
    <app-share-album [receivedAlbum]='album' *ngIf="showSharedModal" (onClose)="showSharedModal=false"></app-share-album>
</a>