.flex-notif
    display: flex
    flex-direction: row

.content
    width: 90%
    margin: 5px
    padding: 10px
    box-shadow: 0 1px 1px rgba(9,45,66,.25), 0 0 0 1px rgba(9,45,66,.08)

.read-button
    border-radius: 50%
    width: 16px
    height: 16px
    margin: 10px 5px 0 5px
    cursor: pointer

.is-not-read
    background: #00ab91
    &:hover
        background: #03c3a6

.title-content
    display: flex
    flex-direction: row

.logo
    background: white
    border-radius: 50%
    
.logo img
    height: 24px
    border-radius: 50%

.name
    margin-left: 10px

.stiles
    font-weight: 700
    white-space: pre-line
    line-height: 24px
    color: #172b4d

.main-content
    padding: 5px
    margin-top: 3px
    font-size: 15px

.date-content
    margin-top: 5px
    font-size: 12px
