<div class="flex-notif">
    <div class="read-button">
        <img src="assets/select.svg" alt="">
    </div>
    <div class="notification content">
        <div class="title-content">
            <div class="image is-32x32 logo"></div>
            <div class="name">
                <strong class="stiles">Ihor Shmoilov</strong>
            </div>
        </div>
        <div class="main-content">
            <p>asdasd dasddddddddddd dddddddddsdsd sdsdsdsdsd sdsd sdsddd dasdasd</p>
        </div>
        <div class="date-content">
            <p>24/03/2000</p>
        </div>
    </div>
</div>