<div class="modal" id="duplicates-modal" [class.is-active]="isActive">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Duplicates found</p>
      <button
        (click)="toggleModal()"
        class="delete"
        aria-label="close"
      ></button>
    </header>
    <section class="modal-card-body">
      <spinner *ngIf="isShowSpinner"></spinner>
      <div *ngIf="!isShowSpinner">
        <div *ngFor="let duplicate of duplicatesWithCount | keyvalue">
          <div class="uploaded-image">
            <img src="{{ duplicate.key }}" class="image" />
            <div
              *ngIf="duplicate.value > 1"
              class="card-content is-overlay is-clipped"
            >
              <span class="tag is-primary is-pulled-right is-unselectable">
                {{ duplicate.value }} copies
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot buttons is-right">
      <button class="button is-primary" (click)="removeDuplicates()">
        Remove duplicates
      </button>
      <button class="button" (click)="toggleModal()">Cancel</button>
    </footer>
  </div>
</div>
<notifier-container></notifier-container>
