<div [style.transform]="isSelected ? 'scale(0.9)' : 'scale(1)'"class="photo" (click)="clickPerformed()">
    <img src="{{ photo.blob256Id || photo.blobId }}">
    <div class="overlay" [style.opacity]="isSelected ? '1' : ''">
        <div class="top">
           <a (click)="$event.stopPropagation()" (click)="selectItem()"><i [ngStyle]="{'color': isSelected ? 'lightblue' : 'white'}" class="material-icons">check_circle_outline</i></a>
        </div>
        <div class="bottom">
            <a><i class="material-icons">star_border</i></a>
            <a><p>{{photo.description}}</p></a>
            <a><i class="material-icons">comment</i></a>
        </div>
    </div>
</div>
