<div class="container">
    <div class="form-group">
        <div class="field">
            <div class="control">
                <input id="Input" class="input is-primary form-control" (click)="Change()" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>
        </div>
    </div>
    <agm-map *ngIf='displaymap' [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
    <div class="address">
        <div class="addressRow">
            <p>{{address}}</p>
        </div>
    </div>
    <div class="buttons">
        <a class="button is-primary" (click)="ChangeLocation()">Save Location</a>
        <a class="button is-primary" (click)="DeleteLocation()">Delete Location</a>
    </div>
</div>