<div class="container">
    <h4 class="title is-4">Location</h4>
    <div class="form-group input-size">
        <div class="field">
            <div class="control">
                <input id="Input" [value]="photo?.location" [className]="checkForm ? 'input is-primary form-control' : 'input is-danger form-control'" (click)="Change()" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off"
                    autocapitalize="off" spellcheck="off" type="text" #search>
            </div>
        </div>
    </div>
    <agm-map *ngIf='displaymap' [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
    <div class="address">
        <div class="addressRow">
            <h6 class="subtitle is-6">{{address}}</h6>
        </div>
    </div>
    <div class="buttons">
        <a class="button is-primary" (click)="ChangeLocation()">Save Location</a>
        <a class="ots button is-primary" (click)="DeleteLocation()">Delete Location</a>
    </div>
</div>