<h2>Most popular categories</h2>
<div class="items-container-left" *ngIf="hasAnyItems">
    <div *ngFor="let item of categoryAlbums">
        <main-album [_album]="item" [isCategoryAlbum]="true" [currentUser]="currentUser" (Click)="albumClicked($event)">
        </main-album>
    </div>
    <div class="no-content" *ngIf="!hasAnyItems">
      <h2>Nothing here yet..</h2>
      <img src="assets/nocontent.jpg" alt="">
    </div>
</div>

<spinner *ngIf="showSpinner"></spinner>
<notifier-container></notifier-container>
