
.navigation
  display: flex
  flex-direction: row
  justify-content: flex-end
  align-items: center
  height: 70px
  width: 100%

.back-icon  
  margin-left: 30px

.photos
  float: right
  margin-right: 37px

.title
  width: 100%
  text-align: center
.dropdown-trigger .button
    background-color: #00D1B2
    margin-right: 4.2rem
.dropdown-menu
  min-width: 8rem
.button span 
    color: white
.dropdown-item
    cursor: pointer

