.container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  flex-wrap: wrap

.close
  display: flex
  align-items: center
  height: 100px
  width: 100%

.image
  height: 60px
  width: 60px
  margin-left: 30px


.title
  width: 100%
  text-align: center

.photos
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap

