<div class="modal is-active">
  <div class="modal-background" (click)="cancel()"></div>
  <div class="modal-card">
    <div class="modal-card-body">
      <div class="columns is-vcentered">
        <div class="column is-four-fifths">
		  <p class="control has-icons-left has-icons-right">
            <input id="share-link" class="input" type="email" placeholder="Email" [(ngModel)]="sharedEmail">
			<span class="icon is-small is-left">
				<i class="fa fa-envelope"></i>
			</span>
			<span class="icon is-small is-right fas has-text-danger" *ngIf="!showSuccessIcon">
				<i class="fa fa-times" id="success-icon"></i>
			</span>
			<span class="icon is-small is-right fas has-text-success" *ngIf="showSuccessIcon">
				<i class="fa fa-check" id="success-icon"></i>
			</span>
		  </p>
        </div>
        <div class="column">
          <a class="button is-primary" (click)="AddEmail()">
            Add
          </a>
        </div>
      </div>
	  
	  <div class="columns">
        <div class="column is-half">
          <input id="share-link" class="input" type="text" [(value)]="sharedLink" readonly>
        </div>
        <div class="column is-half">
          <a class="button is-primary" (click)="copyShareableLink()">
            Copy
          </a>
        </div>
      </div>
	  
	  <div class="columns">
		<div class="column is-half  has-text-centered">
          <a class="button is-primary" (click)="GenerateClick()">
            Generate shared link
          </a>
        </div>
        <div class="column is-half has-text-centered">
          <a class="button is-primary" (click)="cancel()">
            Cancel
          </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="copyClicked" id="copySuccessfulAlert" class="notification is-primary">
      Link is now in your clipboard
    </div>
</div>
  
  