<div class="modal is-active">
  <div class="modal-background" (click)="cancel()"></div>
  <div class="modal-card">
    <div class="modal-card-body">
      <div *ngFor="let email of userEmails">
        <div class="columns is-vcentered">
          <div class="column is-four-fifths">
            <button
              class="clear-button is-white button icon is-small is-right fas has-text-grey-light"
              (click)="removeEmail(email)"
            >
              <i class="fa fa-times" id="success-icon"></i>
            </button>
            <p class="control has-icons-left has-icons-right">
              <input
                disabled
                id="share-link"
                class="input"
                type="email"
                value="{{ email }}"
              />
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="columns is-vcentered">
        <div class="column is-four-fifths">
          <button
            class="clear-button is-white button icon is-small is-right fas has-text-grey-light"
            (click)="clearInput()"
          >
            <i class="fa fa-times" id="success-icon"></i>
          </button>
          <p class="control has-icons-left has-icons-right">
            <input
              id="share-link"
              class="input"
              [class.is-danger]="wrongInput"
              type="email"
              placeholder="Email"
              [(ngModel)]="sharedEmail"
            />
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="column">
          <a class="button is-primary" (click)="AddEmail()">
            Add
          </a>
        </div>
      </div>

      <div class="columns" *ngIf="sharedLink && availableAll">
        <div class="column is-four-fifths">
          <input
            id="share-link"
            class="input"
            type="text"
            [(value)]="sharedLink"
            readonly
          />
        </div>
        <div class="column">
          <a class="button is-primary" (click)="copyShareableLink()">
            Copy
          </a>
        </div>
      </div>
      <div class="columns">
        <div class="column has-text-centered">
          <a class="button is-primary" (click)="GenerateClick()">
            Generate shared link
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
