<div class="comments">
  <!--add new comment-->
  <div class="add-comment">
    <textarea [(ngModel)]='newCommentText' class="textarea " placeholder="Nice" rows="2"></textarea>
    <button class="button is-primary" (click)="createCommentHandler()">Send</button>
  </div>
  <!--spinner-->
  <spinner *ngIf="!commentList"></spinner>
  <!--no comments-->
  <div class="no-comments" *ngIf="commentList && !commentList.length">
    <p>No one has left a comment yet...</p>
  </div>
  <!--comment list-->
  <div class="comments-list" *ngIf="commentList && commentList.length !== 0">
    <div *ngFor="let comment of commentList">
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <img src="{{ comment.authorAvatar64Url || 'assets/default_avatar.png' }}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="is-size-8">
              <strong>{{ comment.authorFirstName }} {{ comment.authorLastName }}</strong>
              <br> {{ comment.commentText }}
            </p>
          </div>
        </div>
        <!--delete-->
        <div class="media-right" *ngIf="isDeleteBtnShown(comment)">
          <button class="delete" (click)="deleteCommentHandler(comment.commentId)"></button>
        </div>
      </article>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
