<div class="modal" [class.is-active]="IsShow">
    <div (click)="toggleModal($event)"></div>

    <!--content-->
    <div class="modal-content size">
        <div class="notification color">
            <button (click)="toggleModal()" class="delete is-large" aria-label="close"></button>
            <h4 class="title is-4">Choose photos ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</h4>
            <div class="flex-container">

            </div>
        </div>

    </div>
</div>