header
    position: fixed
    width: 70%
    display: flex
    flex-direction: row
    justify-content: space-between
    background-color: white
    height: 70px
    border-bottom: 1px solid #f5f5f5

img
    outline: none

.button
    height: 35px

header
    width: 100%
datalist div
  font-family: 'FontAwesome'

.align-right
    display: flex
    align-items: center
    justify-content: center
    .button
        margin-right: 10px

input::-webkit-calendar-picker-indicator
  display: none

.align-left
    display: flex
    align-items: center
    flex-direction: row
    justify-content: flex-end
    margin: .6rem

.input-form
    width: 70%

.align-left img
    height: 100%
    width: auto

.menu-icon a
    margin: 1rem

.search-bar
    display: flex
    align-items: center
    justify-items: center
    width: 100%

.control .button
    border-radius: 0 4px 4px 0 !important

.field.has-addons
    width: 100%

.control .button, .add
    margin-right: 1.5rem

.logo
    margin-left: 10px
    height: 100%
    display: flex
    align-items: center
    justify-content: flex-start
    cursor: pointer
    &:focus
        outline: none

.logo img
    margin-right: .4rem
    height: 100%


.logo p
    font-weight: 500
    font-size: 19pt
    padding-left: 10px

.field i
    margin-right: .5rem

.profile img
    height: 100%
    height: 48px
    width: 48px
    margin: auto
    object-fit: cover

.main-header    
    width: 100%
    z-index: 5
    background: white

.notification-icon
    margin-left: 10px
    position: relative
    i
        font-size: 20pt      
    .fa-bell
        color: orangered
    &:hover .fa-bell
        color: #00d1b2
    &:hover .notification-count
        background: #00d1b2


.notification-count
    position: absolute
    top: -8px
    right: -5px
    background: orangered
    color: white
    border-radius: 50%
    height: 15px
    width: 15px
    text-align: center
    font-size: 6pt
    line-height: 15px

.sub-header
    padding: 10px
    border-bottom: 1px solid rgba(9,30,66,.13)
    text-align: end

.center
    text-align: center

.border
    border-radius: 0
    margin: 0
    border-bottom: 1px solid rgba(9,30,66,.13)
    background: white

.notification-panel
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08)
    overflow: auto
    position: fixed
    margin-top: 70px
    top:0
    max-height: 90%
    width: 350px
    z-index: 1
    background: white
    right: 0
    border-radius: 0 0 5px 5px
    border-top: 1px solid rgba(9, 30, 66, 0.08)
    overflow-x: hidden

.no-notifications
    margin: 20px
    text-align: center
    font-size: 13pt
    color: gray

.header-text
    font-size: 15pt
    text-align: center

.mark
    display: inline

.mark:hover
    border-bottom: 1px solid black

.not-active
  pointer-events: none
  cursor: default
  background-color: gray

.search-bar
    position: relative

.dropdown
    width: 100%
    position: absolute
    left: 0
    top: 35px
    background-color: #fff
    border: 1px solid transparent
    border-color: #dbdbdb
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px
    color: #363636
    .row
        padding: 5px 10px
        cursor: pointer
        &:hover
            background-color: #f3f3f3
        i
            font-size: 20px
            vertical-align: top

.logout
    margin-left: 10px
    margin-right: 10px
    i
        font-size: 20pt
    &:hover
        color: #00d1b2

@media screen and (max-width: 768px)
    .logo
        margin-left: 0rem
    .logo p
        display: none

@media screen and (max-width: 960px)
    .search-bar .field > a.button
        width: 3rem
    .search-bar .field > a.button p
        display: none

    .search-bar .field > a i
        margin: 0


