<header class="navbar is-fixed-top">
    <div class="align-right">
        <a><i class="material-icons">reorder</i></a>
        <div class="logo">
            <img src="assets/alpaca-icon-19.jpg">
            <p>Lama</p>
        </div>
    </div>

    <!--search-->
    <div class="search-bar is-hidden-mobile">
        <div class="field has-addons">
            <div class="control input-form">
                <input class="input" type="text" placeholder="Find a photo">
            </div>
            <div class="control">
                <a class="button is-primary">
                    Search
                </a>
            </div>
            
            <!--upload-->
            <a (click)="openModalClicked($event)"class="button is-primary is-hidden-mobile add">
                <i class="material-icons">cloud_upload</i>
                <p>Add</p>
            </a>
        </div>
    </div>

    <!--profile-->
    <div class="align-right">
        <a class="button is-primary" (click)="logOut()">Logout</a>
        <a class="profile" routerLink="/profile">
			<img [src]="avatarUrl || 'assets/default_avatar.png'" width="50px">
		</a>
    </div>

</header>

<template #photoUploadModal></template>

